@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'Poiret';
        src: url('/fonts/poiret-one-v16-latin-regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

  @font-face {
    font-family: 'Ouroboros';
    src: url('/fonts/Ouroboros-Regular.woff2') format('woff2'),
        url('/fonts/Ouroboros-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url('/fonts/righteous-v13-latin-regular.woff2') format('woff2'),
        url('/fonts/righteous-v13-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

}

