---
import BaseHead from "../components/base/BaseHead.astro";
import Footer from "../components/base/Footer.astro";
import HeaderHero from "../components/frontpage/HeaderHero.astro";
import Hero from "../components/frontpage/Hero.astro";
import { Picture } from "astro-imagetools/components";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Home"
      description="Discover one person's journey and triumph over math anxiety. Learn about their personal struggles, the strategies they used, and the lessons they learned along the way to overcome math stress."
    />
  </head>
  <body>
    <HeaderHero />
    <main>
      <Hero />
    </main>
    <Footer />
  </body>
</html>
