---
import BaseHead from "../components/base/BaseHead.astro";
import Footer from "../components/base/Footer.astro";
import Header from "../components/base/Header.astro";
import Search from "astro-pagefind/components/Search";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Search" description="What are you looking for today?" />
  </head>

  <body class="bg-primary-200 min-h-screen flex flex-col">
    <Header />
    <main>
      <div class="grid grid-cols-12">
        <div
          class="dark:prose-invert prose prose-slate prose-xl col-start-2 col-end-12 mx-auto mt-3"
        >
          <Search />
        </div>
      </div>
    </main>
    <div class="mt-auto">
      <Footer />
    </div>
  </body>
</html>
