---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

export const topics = {
  crossstitch:"cross-stitch",
  memories:"memories",
  books: "books-and-films",
  anxiety: "math-anxiety",
  scicomm: "science-communication",
  music:"music",
  interviews:"interviews",
} as const;

const entry = ... // this article

const categories: Category[] = entry.data.categories?.slice(0, 2) ?? [];

// Some machinery to suggest similar articles (by topics)
const suggestedTopics = categories?.map((category) => topics[category]).join(" and ");

const allEntries = await getCollection("blog");

allEntries.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const similarEntries = allEntries.filter(
  (e) =>
    categories.some((t) => e.data.categories?.includes(t))  
);

const suggestedEntries = similarEntries.slice(0, 3);
---
<h3>Related Posts</h3>


{
  suggestedTopics?.length > 0 && suggestedEntries.length > 0 ? (
    <>
      <p>Like {suggestedTopics}? Here's more on the topic:</p>
      <ul>
        {suggestedEntries.map((e) => (
          <li>
            <a href={e.slug}> {e.data.title}</a>
          </li>
        ))}
      </ul>
    </>
  ) : undefined
}