---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/base/BaseHead.astro";
import Footer from "../components/base/Footer.astro";
import FormattedDate from "../components/base/FormattedDate.astro";
import Header from "../components/base/Header.astro";
import Infinity from "../components/blog/Infinity.astro";

type Props = CollectionEntry<"blog">["data"];

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={frontmatter.title} description={frontmatter.description} />
  </head>

  <body class="dark:bg-black-900">
    <Header />
    <main>
      <article>
        <div
          id="meta"
          class="dark:bg-primary-200 dark:text-slate-900 bg-primary-200 text-black-900 p-20"
        >
          <h1
            class="title flex justify-center place-items-center text-2xl lg:text-5xl text-center font-display"
            style="text-wrap: balance"
          >
            {frontmatter.title}
          </h1>

          <div
            class="last-updated-on flex justify-center place-items-center text-xl lg:text-3xl"
          >
            Updated on {frontmatter.updatedDate}
          </div>
        </div>
        <hr />
        <div>
          <div class="mx-auto grid grid-cols-12">
            <div
              class="dark:prose-invert prose prose-slate prose-xl col-span-10 col-start-2 col-end-12 md:col-span-6 md:col-start-4 md:col-end-10 mx-auto"
            >
              <slot />
            </div>
          </div>
        </div>
      </article>
      <Infinity />
    </main>
    <Footer />
  </body>
</html>
